/**
 * Normal page stuff
 *******************************************************************/

* {
  padding: 0;
  margin: 0;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  display: none;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  margin: auto;
  width: 600px;
  padding: 20px;
}

header {
  margin: 50px 0 250px;
}

footer {
  margin-top: 20px;
}

h1 {
  font-family: 'Impact' sans-serif;
  font-size: 300%;
}

h1 span {
  color: darkgray;
  font-size: 75%;
}

body.light {
  background: #fff url(../img/pattern-light.png) repeat fixed;
}

.light .container {
  background-color: #fff;
  box-shadow: 0 0 15px #888;
  color: #000;
}

body.dark {
  background: #000 url(img/pattern-dark.png) repeat fixed;
}

.dark .container {
  background-color: #000;
  box-shadow: 0 0 15px #111;
  color: #fff;
}


/**
 * Flip Clock
 *******************************************************************/

#calendar-container {
  color: #fff;
	font-family: 'Impact', sans-serif;
	position: relative;
  left: 0;
  top: 250px;
  width: 100%;
}

#calendar {
	height: 375px;
	margin: auto;
	position: relative;  
	width: 600px;
}

.calendar-row {
  height: 150px;
  text-align: center;
}

.row1 {
  padding: 19px 0 0 36px;
}

.row2 {
  margin-top: 95px;
  padding-left: 137px;
}

/*
.calendar-top,
.calendar-bottom,
.calendar-flip {
	position: relative;
	height: 50px;
	margin-top: 2px;
	overflow: hidden;
}

.calendar-bottom * {
	margin-top: -53px;
}

.calendar-flip {
	position: absolute;
	top: 6px;
	left: 6px;
}
*/
.flipper {
  /*outline: 1px solid #bada55;*/
	width: 133px;
	height: 120px;
	padding: 0 0;
	background: #1a1a1a;
	float: left;
	font-size: 110px;
	font-weight: 100;
	letter-spacing: -3px;
	line-height: 120px;
	text-align: center;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #000;
	        box-shadow: 0 0 2px #000;
}

.day,
.month {
  font-size: 70px;
}

.date,
.month,
.minute {
  margin-left: 63px;
}

.fliptop {
	-webit-transform: rotateX(90deg);
   	-moz-transform: rotateX(90deg);
   	  -o-transform: rotateX(90deg);
   	 -ms-transform: rotateX(90deg);
   	     transform: rotateX(90deg);
}

.flipbottom {
	bottom: 2px;
	-webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
       -o-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flipbottom .month,
.flipbottom .day,
.flipbottom .hour,
.flipbottom .minute,
.flipbottom .second {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.calendar-flip {
	/*position: absolute;
	top: 6px;
	left: 6px;*/
	-webkit-transition: all 0.1s ease-in-out;
	   -moz-transition: all 0.1s ease-in-out;
	     -o-transition: all 0.1s ease-in-out;
	    -ms-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
	-webkit-transform-origin: 50% 100%;
	   -moz-transform-origin: 50% 100%;
	     -o-transform-origin: 50% 100%;
	    -ms-transform-origin: 50% 100%;
	        transform-origin: 50% 100%;
}

/**
 * Background elements
 *******************************************************************/

#background {
  background: rgb(43,44,39); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(43,44,39,1) 0%, rgba(79,80,75,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,44,39,1)), color-stop(100%,rgba(79,80,75,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(43,44,39,1) 0%,rgba(79,80,75,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(43,44,39,1) 0%,rgba(79,80,75,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(43,44,39,1) 0%,rgba(79,80,75,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(43,44,39,1) 0%,rgba(79,80,75,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2c27', endColorstr='#4f504b',GradientType=1 ); /* IE6-9 */
  -webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	     -o-border-radius: 50px;
	        border-radius: 50px;
  margin: auto;
  position: relative;
  top: -425px;
  width: 735px;
  height: 475px;
  z-index: -1;
}

.flipper-bg {
  background-color: #000;
  position: absolute;
  width: 160px;
  height: 140px;
  border: 2px solid #1f201b;
  -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
}

#flipper-1-1,
#flipper-1-2,
#flipper-1-3 {
  top: 60px;
}

#flipper-2-1,
#flipper-2-2 {
  top: 285px;
}

#flipper-1-1 {
  left: 90px;
}

#flipper-1-2 {
  left: 285px;
}

#flipper-1-3 {
  left: 480px;
}

#flipper-2-1 {
  left: 190px;
}

#flipper-2-2 {
  left: 385px;
}

.highlight {
  -webkit-box-shadow: -1px 1px 1px 1px #555651;
          box-shadow: -1px 1px 1px 1px #555651;
  height: 100%;
  width: 100%;
}

.flipper-bg .highlight {
  -webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	     -o-border-radius: 8px;
	        border-radius: 8px;
}

#flipper-1-2 .highlight,
#flipper-2-2 .highlight {
  -webkit-box-shadow: -1px 1px 1px 1px #6D6D6D;
          box-shadow: -1px 1px 1px 1px #6D6D6D;
}

#flipper-1-3 .highlight {
  -webkit-box-shadow: -1px 1px 1px 1px #616161;
          box-shadow: -1px 1px 1px 1px #616161;
}

.flipper-cog {
  -webkit-box-shadow: inset 0 0 2px 1px #1A1A1A;
          box-shadow: inset 0 0 2px 1px #1A1A1A;
  height: 50px;
  position: relative;
  width: 5px;
}

.cog-left {
  left: 5px;
  top: 40px;
}

.cog-right {
  left: 147px;
  top: -10px;
}

#flipper-1-1 .flipper-cog {
  background: rgb(45,45,45); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(45,45,45,1) 5%, rgba(73,73,73,1) 16%, rgba(45,45,45,1) 22%, rgba(73,73,73,1) 33%, rgba(38,38,38,1) 44%, rgba(53,53,53,1) 57%, rgba(45,45,45,1) 76%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(45,45,45,1)), color-stop(16%,rgba(73,73,73,1)), color-stop(22%,rgba(45,45,45,1)), color-stop(33%,rgba(73,73,73,1)), color-stop(44%,rgba(38,38,38,1)), color-stop(57%,rgba(53,53,53,1)), color-stop(76%,rgba(45,45,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(73,73,73,1) 16%,rgba(45,45,45,1) 22%,rgba(73,73,73,1) 33%,rgba(38,38,38,1) 44%,rgba(53,53,53,1) 57%,rgba(45,45,45,1) 76%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(73,73,73,1) 16%,rgba(45,45,45,1) 22%,rgba(73,73,73,1) 33%,rgba(38,38,38,1) 44%,rgba(53,53,53,1) 57%,rgba(45,45,45,1) 76%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(73,73,73,1) 16%,rgba(45,45,45,1) 22%,rgba(73,73,73,1) 33%,rgba(38,38,38,1) 44%,rgba(53,53,53,1) 57%,rgba(45,45,45,1) 76%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(45,45,45,1) 5%,rgba(73,73,73,1) 16%,rgba(45,45,45,1) 22%,rgba(73,73,73,1) 33%,rgba(38,38,38,1) 44%,rgba(53,53,53,1) 57%,rgba(45,45,45,1) 76%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
}

#flipper-1-2 .flipper-cog,
#flipper-2-1 .flipper-cog {
  background: rgb(45,45,45); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(45,45,45,1) 5%, rgba(98,98,98,1) 15%, rgba(45,45,45,1) 22%, rgba(99,99,99,1) 33%, rgba(38,38,38,1) 44%, rgba(98,98,98,1) 56%, rgba(45,45,45,1) 76%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(45,45,45,1)), color-stop(15%,rgba(98,98,98,1)), color-stop(22%,rgba(45,45,45,1)), color-stop(33%,rgba(99,99,99,1)), color-stop(44%,rgba(38,38,38,1)), color-stop(56%,rgba(98,98,98,1)), color-stop(76%,rgba(45,45,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(99,99,99,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 76%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(99,99,99,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 76%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(45,45,45,1) 5%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(99,99,99,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 76%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(45,45,45,1) 5%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(99,99,99,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 76%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
}

#flipper-2-2 .flipper-cog {
  background: rgb(45,45,45); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%, rgba(98,98,98,1) 15%, rgba(45,45,45,1) 22%, rgba(157,157,157,1) 33%, rgba(38,38,38,1) 44%, rgba(98,98,98,1) 56%, rgba(45,45,45,1) 88%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(15%,rgba(98,98,98,1)), color-stop(22%,rgba(45,45,45,1)), color-stop(33%,rgba(157,157,157,1)), color-stop(44%,rgba(38,38,38,1)), color-stop(56%,rgba(98,98,98,1)), color-stop(88%,rgba(45,45,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(157,157,157,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 88%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(157,157,157,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 88%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(157,157,157,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 88%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(98,98,98,1) 15%,rgba(45,45,45,1) 22%,rgba(157,157,157,1) 33%,rgba(38,38,38,1) 44%,rgba(98,98,98,1) 56%,rgba(45,45,45,1) 88%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
}

#flipper-1-3 .flipper-cog {
  background: rgb(127,127,127); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,127,127,1) 12%, rgba(107,107,107,1) 21%, rgba(157,157,157,1) 28%, rgba(160,160,160,1) 36%, rgba(68,68,68,1) 45%, rgba(98,98,98,1) 56%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(127,127,127,1)), color-stop(21%,rgba(107,107,107,1)), color-stop(28%,rgba(157,157,157,1)), color-stop(36%,rgba(160,160,160,1)), color-stop(45%,rgba(68,68,68,1)), color-stop(56%,rgba(98,98,98,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 12%,rgba(107,107,107,1) 21%,rgba(157,157,157,1) 28%,rgba(160,160,160,1) 36%,rgba(68,68,68,1) 45%,rgba(98,98,98,1) 56%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,127,127,1) 12%,rgba(107,107,107,1) 21%,rgba(157,157,157,1) 28%,rgba(160,160,160,1) 36%,rgba(68,68,68,1) 45%,rgba(98,98,98,1) 56%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,127,127,1) 12%,rgba(107,107,107,1) 21%,rgba(157,157,157,1) 28%,rgba(160,160,160,1) 36%,rgba(68,68,68,1) 45%,rgba(98,98,98,1) 56%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,127,127,1) 12%,rgba(107,107,107,1) 21%,rgba(157,157,157,1) 28%,rgba(160,160,160,1) 36%,rgba(68,68,68,1) 45%,rgba(98,98,98,1) 56%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#626262',GradientType=0 ); /* IE6-9 */
}

.stopper-bar {
  background: #4e4f4a;
  -webkit-box-shadow: inset 0 0 5px 1px #000;
          box-shadow: inset 0 0 5px 1px #000;
  height: 20px;
  left: 75px;
  position: relative;
  top: 15px;
  width: 10px;
}

#flipper-1-1 .stopper-bar,
#flipper-2-1 .stopper-bar {
  -webkit-box-shadow: inset 0 0 5px 2px #000;
          box-shadow: inset 0 0 5px 2px #000;
}

#large-black-hole {
  background-color: #000;
  position: absolute;
  width: 15px;
  height: 30px;
  border: 1px solid #1f201b;
  -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
	left: 671px;
	top: 154px;
}

#large-hole-cog {
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(94,92,92,1) 20%, rgba(0,0,0,1) 23%, rgba(203,208,202,1) 32%, rgba(203,208,202,1) 41%, rgba(0,0,0,1) 57%, rgba(94,92,92,1) 60%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(94,92,92,1)), color-stop(23%,rgba(0,0,0,1)), color-stop(32%,rgba(203,208,202,1)), color-stop(41%,rgba(203,208,202,1)), color-stop(57%,rgba(0,0,0,1)), color-stop(60%,rgba(94,92,92,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(94,92,92,1) 20%,rgba(0,0,0,1) 23%,rgba(203,208,202,1) 32%,rgba(203,208,202,1) 41%,rgba(0,0,0,1) 57%,rgba(94,92,92,1) 60%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(94,92,92,1) 20%,rgba(0,0,0,1) 23%,rgba(203,208,202,1) 32%,rgba(203,208,202,1) 41%,rgba(0,0,0,1) 57%,rgba(94,92,92,1) 60%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(94,92,92,1) 20%,rgba(0,0,0,1) 23%,rgba(203,208,202,1) 32%,rgba(203,208,202,1) 41%,rgba(0,0,0,1) 57%,rgba(94,92,92,1) 60%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(94,92,92,1) 20%,rgba(0,0,0,1) 23%,rgba(203,208,202,1) 32%,rgba(203,208,202,1) 41%,rgba(0,0,0,1) 57%,rgba(94,92,92,1) 60%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 0 2px 1px #000;
          box-shadow: inset 0 0 2px 1px #000;
	margin-top: 3px;
  height: 20px;
  width: 10px;
}

#small-black-hole {
  background-color: #000;
  position: absolute;
  width: 10px;
  height: 15px;
  border: 1px solid #1f201b;
  -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
	left: 600px;
	top: 320px;
}

#large-black-hole .highlight,
#small-black-hole .highlight {
  -webkit-border-radius: 1px;
	   -moz-border-radius: 1px;
	     -o-border-radius: 1px;
	        border-radius: 1px;
	 -webkit-box-shadow: 0 1px 0 0 #555651;
           box-shadow: 0 1px 0 0 #555651;
}

#twemco-text {
  position: absolute;
  text-align: center;
  top: 360px;
  left: 576px;
}

#twemco-text .first {
 font-size: 12px;
 letter-spacing: 3px;
}

#twemco-text .second {
  font-size: 9px;
  letter-spacing: 2px;
}

#bottom-shadow {
  background-color: transparent;
  -webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	     -o-border-radius: 30px;
	        border-radius: 30px;
  -webkit-box-shadow: 0 53px 30px -7px #727272;
          box-shadow: 0 53px 30px -7px #727272;
  position: absolute;
  width: 650px;
  height: 40px;
	left: 30px;
	top: 418px;
}

#bottom-shadow-core {
  background-color: transparent;
  -webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
  -webkit-box-shadow: 0 52px 15px 0 #303433;
          box-shadow: 0 52px 15px 0 #303433;
  position: absolute;
  width: 550px;
  height: 10px;
	left: 79px;
	top: 431px;
}


/**
 * Foreground elements
 *******************************************************************/

#foreground {
  margin: auto;
  position: relative;
  top: -915px;
  width: 750px;
}

#outer-ring {
  background: transparent;
  border: 30px solid #484d47;
  -webkit-border-radius: 80px;
	   -moz-border-radius: 80px;
	     -o-border-radius: 80px;
	        border-radius: 80px;
  -webkit-box-shadow: 0 0 1px 1px #949993;
          box-shadow: 0 0 1px 1px #949993;
  height: 500px;
  width: 750px;
}

#large-bottom-shadow {
  background: transparent;
  -webkit-border-radius: 0 0 63px 63px;
	   -moz-border-radius: 0 0 63px 63px;
	     -o-border-radius: 0 0 63px 63px;
	        border-radius: 0 0 63px 63px;
	-webkit-box-shadow: 0 18px 6px 5px #272823;
          box-shadow: 0 18px 6px 5px #272823;
  height: 300px;
	left: 23px;
	position: absolute;
	top: 179px;
  width: 700px;
}

#lower-dark-block {
  background: #000;
  -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px 1px #000;
          box-shadow: 0 4px 10px 1px #000;
  height: 9px;
	left: 125px;
	position: absolute;
	top: 482px;
  width: 450px;
}

#left-lower-shadow {
  background: -moz-linear-gradient(top,  rgba(42,43,38,0.75) 0%, rgba(44,44,44,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,43,38,0.75)), color-stop(100%,rgba(44,44,44,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(42,43,38,0.75) 0%,rgba(44,44,44,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(42,43,38,0.75) 0%,rgba(44,44,44,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(42,43,38,0.75) 0%,rgba(44,44,44,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(42,43,38,0.75) 0%,rgba(44,44,44,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2a2b26', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 0 0 0 24px;
	   -moz-border-radius: 0 0 0 24px;
	     -o-border-radius: 0 0 0 24px;
	        border-radius: 0 0 0 24px;
	-webkit-box-shadow: 0 10px 15px 3px #2A2B26;
          box-shadow: 0 10px 15px 3px #2A2B26;
  height: 200px;
	left: 10px;
	position: absolute;
	top: 235px;
  width: 10px;
}

#left-upper-shadow {
  background: -moz-linear-gradient(top,  rgba(59,64,60,0) 0%, rgba(45,50,45,0.6) 30%, rgba(26,31,26,1) 70%, rgba(12,17,11,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,64,60,0)), color-stop(30%,rgba(45,50,45,0.6)), color-stop(70%,rgba(26,31,26,1)), color-stop(100%,rgba(12,17,11,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(59,64,60,0) 0%,rgba(45,50,45,0.6) 30%,rgba(26,31,26,1) 70%,rgba(12,17,11,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(59,64,60,0) 0%,rgba(45,50,45,0.6) 30%,rgba(26,31,26,1) 70%,rgba(12,17,11,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(59,64,60,0) 0%,rgba(45,50,45,0.6) 30%,rgba(26,31,26,1) 70%,rgba(12,17,11,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(59,64,60,0) 0%,rgba(45,50,45,0.6) 30%,rgba(26,31,26,1) 70%,rgba(12,17,11,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b403c', endColorstr='#0c110b',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 0 0 0 24px;
	   -moz-border-radius: 0 0 0 24px;
	     -o-border-radius: 0 0 0 24px;
	        border-radius: 0 0 0 24px;
	-webkit-box-shadow: 0 5px 4px 0 #262722;
          box-shadow: 0 5px 4px 0 #262722;
  height: 200px;
	left: 5px;
	position: absolute;
	top: 75px;
  width: 24px;
}

#right-lower-shadow {
  background: #31322F;
  -webkit-border-radius: 0 0 10px 0;
	   -moz-border-radius: 0 0 10px 0;
	     -o-border-radius: 0 0 10px 0;
	        border-radius: 0 0 10px 0;
	-webkit-box-shadow: 4px 14px 5px 5px #31322F;
          box-shadow: 4px 14px 5px 5px #31322F;
  height: 225px;
	left: 728px;
	position: absolute;
	top: 187px;
  width: 10px;
}

#right-upper-shadow {
  background: -moz-linear-gradient(top,  rgba(101,107,105,0) 0%, rgba(81,87,85,1) 35%, rgba(45,49,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,107,105,0)), color-stop(35%,rgba(81,87,85,1)), color-stop(100%,rgba(45,49,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(101,107,105,0) 0%,rgba(81,87,85,1) 35%,rgba(45,49,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(101,107,105,0) 0%,rgba(81,87,85,1) 35%,rgba(45,49,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(101,107,105,0) 0%,rgba(81,87,85,1) 35%,rgba(45,49,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(101,107,105,0) 0%,rgba(81,87,85,1) 35%,rgba(45,49,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656b69', endColorstr='#2d3130',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 0 0 15px 0;
	   -moz-border-radius: 0 0 15px 0;
	     -o-border-radius: 0 0 15px 0;
	        border-radius: 0 0 15px 0;
	-webkit-box-shadow: 3px 20px 16px 2px #2C302F;
          box-shadow: 3px 20px 16px 2px #2C302F;
  height: 225px;
	left: 728px;
	position: absolute;
	top: 75px;
  width: 15px;
}

#corner-highlights {
  background: transparent;
  -webkit-border-radius: 63px 63px 0 0;
	   -moz-border-radius: 63px 63px 0 0;
	     -o-border-radius: 63px 63px 0 0;
	        border-radius: 63px 63px 0 0;
	-webkit-box-shadow: 0 -4px 5px 1px #afafaf;
          box-shadow: 0 -4px 5px 1px #afafaf;
  height: 75px;
	left: 20px;
	position: absolute;
	top: 17px;
  width: 708px;
}

#corner-highlights2 {
  background: transparent;
  -webkit-border-radius: 63px 63px 0 0;
	   -moz-border-radius: 63px 63px 0 0;
	     -o-border-radius: 63px 63px 0 0;
	        border-radius: 63px 63px 0 0;
	-webkit-box-shadow: 0 -12px 21px 1px #a5afa7;
          box-shadow: 0 -12px 21px 1px #a5afa7;
  height: 110px;
	left: 22px;
	position: absolute;
	top: 19px;
  width: 705px;
}

#dark-rim {
  background: transparent;
  border: 4px solid #03070a;
  -webkit-border-radius: 55px;
	   -moz-border-radius: 55px;
	     -o-border-radius: 55px;
	        border-radius: 55px;
  -webkit-box-shadow: 0 -2px 5px 4px #3a3e41;
          box-shadow: 0 -2px 5px 4px #3a3e41;
  height: 450px;
	left: 26px;
	position: absolute;
	top: 25px;
  width: 695px;
}

#upper-dark-block {
  background: #23241f;
  -webkit-border-radius: 46px 46px 0 0;
	   -moz-border-radius: 46px 46px 0 0;
	     -o-border-radius: 46px 46px 0 0;
	        border-radius: 46px 46px 0 0;
	-webkit-box-shadow: 0 0 5px 4px #31322c;
          box-shadow: 0 0 5px 4px #31322c;
  height: 22px;
	left: 75px;
	position: absolute;
	top: 8px;
  width: 600px;
}

#upper-white-highlight {
  background:    -moz-linear-gradient(left, rgba(191,192,187,0.06) 0%, rgba(191,192,187,1) 15%, rgba(191,192,187,0.25) 38%, rgba(191,192,187,1) 51%, rgba(191,192,187,1) 60%, rgba(191,192,187,0.22) 71%, rgba(191,192,187,0.34) 100%);
  background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,192,187,0.06)), color-stop(15%,rgba(191,192,187,1)), color-stop(38%,rgba(191,192,187,0.25)), color-stop(51%,rgba(191,192,187,1)), color-stop(60%,rgba(191,192,187,1)), color-stop(71%,rgba(191,192,187,0.22)), color-stop(100%,rgba(191,192,187,0.34)));
  background: -webkit-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:      -o-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:     -ms-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:         linear-gradient(to right, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fbfc0bb', endColorstr='#57bfc0bb',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: 0 -1px 5px 1px #787974;
          box-shadow: 0 -1px 5px 1px #787974;
  height: 2px;
	left: 108px;
	position: absolute;
	top: 21px;
  width: 534px;
}

#glass-rim-grey {
  background: transparent;
  border: 4px solid #656661;
  -webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	     -o-border-radius: 50px;
	        border-radius: 50px;
  height: 442px;
	left: 30px;
	position: absolute;
	top: 29px;
  width: 687px;
}

#glass-rim-white {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgba(255,255,255,0.2) 93%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(92%,rgba(255,255,255,0)), color-stop(93%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,0.2) 93%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,0.2) 93%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,0.2) 93%,rgba(255,255,255,0.2) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,0.2) 93%,rgba(255,255,255,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
  border: 2px solid #f6f7f2;
  -webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	     -o-border-radius: 50px;
	        border-radius: 50px;
  height: 438px;
	left: 32px;
	position: absolute;
	top: 32px;
  width: 683px;
}

#glass-rim-black {
  background: -moz-linear-gradient(left,  rgba(115,116,111,0) 0%, rgba(115,116,111,0.1) 70%, rgba(115,116,111,0.6) 94%, rgba(115,116,111,0.6) 97%, rgba(115,116,111,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(115,116,111,0)), color-stop(70%,rgba(115,116,111,0.1)), color-stop(94%,rgba(115,116,111,0.6)), color-stop(97%,rgba(115,116,111,0.6)), color-stop(100%,rgba(115,116,111,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(115,116,111,0) 0%,rgba(115,116,111,0.1) 70%,rgba(115,116,111,0.6) 94%,rgba(115,116,111,0.6) 97%,rgba(115,116,111,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(115,116,111,0) 0%,rgba(115,116,111,0.1) 70%,rgba(115,116,111,0.6) 94%,rgba(115,116,111,0.6) 97%,rgba(115,116,111,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(115,116,111,0) 0%,rgba(115,116,111,0.1) 70%,rgba(115,116,111,0.6) 94%,rgba(115,116,111,0.6) 97%,rgba(115,116,111,0.1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(115,116,111,0) 0%,rgba(115,116,111,0.1) 70%,rgba(115,116,111,0.6) 94%,rgba(115,116,111,0.6) 97%,rgba(115,116,111,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073746f', endColorstr='#1a73746f',GradientType=1 ); /* IE6-9 */
  border: 6px solid #4a4b46;
  -webkit-border-radius: 47px;
	   -moz-border-radius: 47px;
	     -o-border-radius: 47px;
	        border-radius: 47px;
  -webkit-box-shadow: 0 0 3px 2px #4A4B46;
          box-shadow: 0 0 3px 2px #4A4B46;
  height: 430px;
	left: 35px;
	position: absolute;
	top: 37px;
  width: 676px;
}

#glass-rim-inner-white {
  background: transparent;
  -webkit-border-radius: 0 0 45px 45px;
	   -moz-border-radius: 0 0 45px 45px;
	     -o-border-radius: 0 0 45px 45px;
	        border-radius: 0 0 45px 45px;
  -webkit-box-shadow: 0 2px 3px 0 #C4C4C4;
          box-shadow: 0 2px 3px 0 #C4C4C4;
  height: 45px;
	left: 40px;
	position: absolute;
	top: 418px;
  width: 667px;
}

#glass-rim-shadow-right {
  background: transparent;
  -webkit-border-radius: 0 30px 30px 0;
	   -moz-border-radius: 0 30px 30px 0;
	     -o-border-radius: 0 30px 30px 0;
	        border-radius: 0 30px 30px 0;
  -webkit-box-shadow: 4px 0 3px 2px #353535;
          box-shadow: 4px 0 3px 2px #353535;
  height: 418px;
	left: 660px;
	position: absolute;
	top: 43px;
  width: 35px;
}

#glass-rim-shadow-left {
  background: transparent;
  -webkit-border-radius: 0 30px 30px 0;
	   -moz-border-radius: 0 30px 30px 0;
	     -o-border-radius: 0 30px 30px 0;
	        border-radius: 0 30px 30px 0;
  -webkit-box-shadow: 8px 0 8px 1px #1A1A1A;
          box-shadow: 8px 0 8px 1px #1A1A1A;
  height: 418px;
	left: 635px;
	position: absolute;
	top: 43px;
  width: 35px;
}

#glass-rim-shadow-left2 {
  background: transparent;
  -webkit-border-radius: 0 30px 30px 0;
	   -moz-border-radius: 0 30px 30px 0;
	     -o-border-radius: 0 30px 30px 0;
	        border-radius: 0 30px 30px 0;
  -webkit-box-shadow: inset -8px 0 8px 0 #1A1A1A;
          box-shadow: inset -8px 0 8px 0 #1A1A1A;
  height: 420px;
	left: 635px;
	position: absolute;
	top: 42px;
  width: 35px;
}


