/**
 * Normal page stuff
 */

* {
  padding: 0;
  margin: 0;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  display: none;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  margin: auto;
  width: 600px;
  padding: 20px;
}

header {
  margin: 50px 0 250px;
}

footer {
  margin-top: 20px;
}

h1 {
  font-family: 'Impact' sans-serif;
  font-size: 300%;
}

h1 span {
  color: darkgray;
  font-size: 75%;
}

body.light {
  background: #fff url(../img/pattern-light.png) repeat fixed;
}

.light .container {
  background-color: #fff;
  box-shadow: 0 0 15px #888;
  color: #000;
}

body.dark {
  background: #000 url(img/pattern-dark.png) repeat fixed;
}

.dark .container {
  background-color: #000;
  box-shadow: 0 0 15px #111;
  color: #fff;
}


/**
 * Flip Clock
 */

#calendar-container {
  position: relative;
  left: 0;
  top: 250px;
  width: 100%;
}

#calendar {
  outline: 1px solid #bada55;
	color: #fff;
	font-family: 'Impact', sans-serif;
	height: 375px;
	margin: auto;
	padding: 25px;
	position: relative;  
	width: 600px;
}

.calendar-row {
  height: 150px;
  text-align: center;
  outline: 1px solid #bada55;
  padding-top: 10px;
}

.row1 {
  padding-left: 45px;
}

.row2 {
  padding-left: 115px;
}

/*
.calendar-top,
.calendar-bottom,
.calendar-flip {
	position: relative;
	height: 50px;
	margin-top: 2px;
	overflow: hidden;
}

.calendar-bottom * {
	margin-top: -53px;
}

.calendar-flip {
	position: absolute;
	top: 6px;
	left: 6px;
}
*/
.flipper {
  outline: 1px solid #bada55;
	margin: 0 5px;
	width: 140px;
	height: 120px;
	padding: 0 0;
	background: #1a1a1a;
	float: left;
	font-size: 110px;
	font-weight: 100;
	letter-spacing: -3px;
	line-height: 120px;
	text-align: center;
	-webkit-box-shadow: 0 0 2px #000;
	        box-shadow: 0 0 2px #000;
}

.day,
.month {
  font-size: 80px;
}

.fliptop {
	-webit-transform: rotateX(90deg);
   	-moz-transform: rotateX(90deg);
   	  -o-transform: rotateX(90deg);
   	 -ms-transform: rotateX(90deg);
   	     transform: rotateX(90deg);
}

.flipbottom {
	bottom: 2px;
	-webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
       -o-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flipbottom .month,
.flipbottom .day,
.flipbottom .hour,
.flipbottom .minute,
.flipbottom .second {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.calendar-flip {
	/*position: absolute;
	top: 6px;
	left: 6px;*/
	-webkit-transition: all 0.1s ease-in-out;
	   -moz-transition: all 0.1s ease-in-out;
	     -o-transition: all 0.1s ease-in-out;
	    -ms-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
	-webkit-transform-origin: 50% 100%;
	   -moz-transform-origin: 50% 100%;
	     -o-transform-origin: 50% 100%;
	    -ms-transform-origin: 50% 100%;
	        transform-origin: 50% 100%;
}

#background {
  background-color: gray;
  border: 30px solid #000;
  -webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	     -o-border-radius: 50px;
	        border-radius: 50px;
  margin: auto;
  position: relative;
  top: -425px;
  width: 700px;
  height: 475px;
  z-index: -1;
}

#foreground {
  margin: auto;
  position: relative;
  top: -915px;
  width: 750px;
}

#outer-ring {
  background: transparent;
  border: 30px solid #484d47;
  -webkit-border-radius: 80px;
	   -moz-border-radius: 80px;
	     -o-border-radius: 80px;
	        border-radius: 80px;
  -webkit-box-shadow: 0px 0px 1px 1px #949993;
          box-shadow: 0px 0px 1px 1px #949993;
  height: 500px;
  width: 750px;
}

#corner-highlights {
  background: transparent;
  -webkit-border-radius: 63px 63px 0 0;
	   -moz-border-radius: 63px 63px 0 0;
	     -o-border-radius: 63px 63px 0 0;
	        border-radius: 63px 63px 0 0;
	-webkit-box-shadow: 0px -4px 5px 1px #afafaf;
          box-shadow: 0px -4px 5px 1px #afafaf;
  height: 75px;
	left: 20px;
	position: absolute;
	top: 17px;
  width: 710px;
}

#corner-highlights2 {
  background: transparent;
  -webkit-border-radius: 63px 63px 0 0;
	   -moz-border-radius: 63px 63px 0 0;
	     -o-border-radius: 63px 63px 0 0;
	        border-radius: 63px 63px 0 0;
	-webkit-box-shadow: 0px -12px 21px 1px #a5afa7;
          box-shadow: 0px -12px 21px 1px #a5afa7;
  height: 110px;
	left: 20px;
	position: absolute;
	top: 17px;
  width: 710px;
}

#dark-rim {
  background: transparent;
  border: 4px solid #03070a;
  -webkit-border-radius: 55px;
	   -moz-border-radius: 55px;
	     -o-border-radius: 55px;
	        border-radius: 55px;
  -webkit-box-shadow: 0px -2px 5px 4px #3a3e41;
          box-shadow: 0px -2px 5px 4px #3a3e41;
  height: 450px;
	left: 26px;
	position: absolute;
	top: 25px;
  width: 695px;
}

#upper-dark-block {
  background: #23241f;
  -webkit-border-radius: 46px 46px 0 0;
	   -moz-border-radius: 46px 46px 0 0;
	     -o-border-radius: 46px 46px 0 0;
	        border-radius: 46px 46px 0 0;
	-webkit-box-shadow: 0px 0px 5px 4px #31322c;
          box-shadow: 0px 0px 5px 4px #31322c;
  height: 22px;
	left: 75px;
	position: absolute;
	top: 8px;
  width: 600px;
}

#upper-white-highlight {
  background:    -moz-linear-gradient(left, rgba(191,192,187,0.06) 0%, rgba(191,192,187,1) 15%, rgba(191,192,187,0.25) 38%, rgba(191,192,187,1) 51%, rgba(191,192,187,1) 60%, rgba(191,192,187,0.22) 71%, rgba(191,192,187,0.34) 100%);
  background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,192,187,0.06)), color-stop(15%,rgba(191,192,187,1)), color-stop(38%,rgba(191,192,187,0.25)), color-stop(51%,rgba(191,192,187,1)), color-stop(60%,rgba(191,192,187,1)), color-stop(71%,rgba(191,192,187,0.22)), color-stop(100%,rgba(191,192,187,0.34)));
  background: -webkit-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:      -o-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:     -ms-linear-gradient(left, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  background:         linear-gradient(to right, rgba(191,192,187,0.06) 0%,rgba(191,192,187,1) 15%,rgba(191,192,187,0.25) 38%,rgba(191,192,187,1) 51%,rgba(191,192,187,1) 60%,rgba(191,192,187,0.22) 71%,rgba(191,192,187,0.34) 100%);
  -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: 0px -1px 5px 1px #787974;
          box-shadow: 0px -1px 5px 1px #787974;
  height: 2px;
	left: 108px;
	position: absolute;
	top: 21px;
  width: 534px;
}
